.container
  %h1 Forms
  %br
  %br
  %br
  %h3 Login
  - if !flash[:notice].blank?
    .notice
      = flash[:notice]
  .login
    = form_tag(users_attempt_login_path, :method => :post, class: "form-inline") do
      .form-group
        = label_tag(:username, nil, :class => "sr-only")
        = text_field_tag(:username, params[:username], class: "form-control", :placeholder => "Username", :required => true)
      .form-group
        = label_tag(:password, nil, :class => "sr-only")
        = password_field_tag(:password, nil, :class => "form-control", :placeholder => "Password", :required => true)
      = submit_tag("Log In", class: "btn btn-default")
    %h4 Don't have an account
    = link_to("Sign Up", new_user_path, :class => 'action new btn btn-lg btn-primary')
