= f.fields_for(:questions) do |q|
  - @counter += 1
  .fields
    %h2 Question
    = link_to_remove_fields("remove", q)
    .form-group
      = q.label(:position, "Question position")
      = q.number_field(:position, value: @counter, min: 1, class: "form-control", :required => true)
      .form-group
        = q.label(:question_text, "Question")
        = q.text_field(:question_text, class: "form-control")
      -# = link_to_remove_fields("remove", f)
      = q.fields_for(:answer_fields) do |a|
        = render 'answer_fields', f: a
