.container
  .headr.clearfix
    %nav
      %ul.nav.nav-pills.pull-right
        %li{:role => "presentaion"}
          %a{:href => "#{forms_path}"} Home
    %h3.text-muted Forms
    %hr
    .form.show
      %h2= @form.title
      = form_for(@group) do |f|
        = error_messages_for(f.object)
        = f.hidden_field(:form_id, value: @form.id )
        -# = f.fields_for(:answers) do |ans|
        - @form.questions.order(:position).each do |q|
          .form-group
            %label= "#{q.position}. #{q.question_text}"
            - q.answer_fields.each do |a|
              = f.fields_for(:answers) do |ans|
                - case a.answer_type
                - when "dropdown"
                  = ans.select(:submitted_answer, 1..10, {}, :class => "form-control", :required => true)
                - when "text"
                  = ans.text_area(:submitted_answer, :rows => 3, :class => "form-control", :required => true)
                - when "radio button"
                  %label.form-control
                    = ans.radio_button(:submitted_answer, "hello", :checked => true, :required => true)
                    = "  hello"
                - when "checkbox"
                  = hidden_field_tag :submitted_answer, ''
                  %label.form-control
                    = ans.check_box(:submitted_answer, :required => true)
                    = "  yes i do"
        = f.submit "Submit Answers", :class => "btn btn-lg btn-primary"
