.container
  .headr.clearfix
    -if session[:user_id]
      = render partial: 'application/navigation'
    %h3.text-muted Forms
    %hr
    .form.show
      %h2= @form.title
      = form_for(@group) do |f|
        = error_messages_for(f.object)
        = f.hidden_field(:form_id, value: @form.id )
        - @form.questions.order(:position).each do |q|
          - field_text = q.answer_fields.first.text
          .form-group
            %label= "#{q.position}. #{q.question_text}"
            - q.answer_fields.each do |a|
              = f.fields_for(:answers) do |ans|
                = ans.hidden_field(:question_id, value: q.id )
                - case a.answer_type
                - when "dropdown"
                  - field_text = field_text.split(",").map(&:strip)
                  = ans.select(:submitted_answer, field_text, {}, :class => "form-control", :required => true)
                - when "text"
                  = ans.text_area(:submitted_answer, :rows => 3, :placeholder => field_text, :class => "form-control", :required => true)
                - when "radio button"
                  - field_text = field_text.split(",").map(&:strip)
                  - field_text.each do |f|
                    %label.form-control
                      = ans.radio_button(:submitted_answer, f, :required => true)
                      = "  #{f}"
                - when "checkbox"
                  = hidden_field_tag :submitted_answer, ''
                  %label.form-control
                    = ans.check_box(:submitted_answer)
                    = "  #{field_text}"
        = f.submit "Submit Answers", :class => "btn btn-lg btn-primary"
