.container
  .headr.clearfix
    %nav
      %ul.nav.nav-pills.pull-right
        %li{:role => "presentaion"}
          %a{:href => "#{forms_path}"} Home
        %li.active{:role => "presentaion"}
          %a{:href => "#{}"} New
        %li{:role => "presentaion"}
          %a{:href => "#{users_logout_path}"} Logout
    %h3.text-muted Forms
    %hr
    .form.show
      %h2= @form.title
      - @form.questions.each do |q|
        %label= q.question_text
        - q.answer_fields.each do |a|
          - case a.answer_type
          - when "dropdown"
            = select_tag(1..3)
          - when "text"
            = text_area_tag(1..3)
          - when "radio button"
            = radio_button_tag(true,'html')
          - when "checkbox"
            = check_box_tag(1)
          %br
        %br
      %br
