.container
  .headr.clearfix
    = render partial: 'application/navigation'
    %h3.text-muted Forms
  - if !flash[:notice].blank?
    .notice
      = flash[:notice]
  - @counter = 0
  - if !@answer_groups.empty?
    - enabler = true if !@form
    .answer-groups.index
      %table.table
        %tr.header
          %th #
          %th Title
          %th Date Created
          %th Actions
        - @answer_groups.each do |answer_group|
          - @counter += 1
          - if enabler
            - @form = Form.find(answer_group.form_id)
          %tr
            %td= @counter
            %td= link_to @form.title, answer_group_path(answer_group)
            %td= answer_group.created_at
            %td.actions
              = link_to "Delete", delete_answer_group_path(answer_group), class: "btn btn-danger action delete"
  - else
    %h1 Nobody answered this form yet
