.container
  .headr.clearfix
    -if session[:user_id]
      = render partial: 'application/navigation'
    %h3.text-muted Forms
    %hr
    .form.show
      %h2= @form.title
      - @counter = 0
      - @form.questions.order(:position).each do |question|
        - @counter += 1
        %h3= "#{@counter}. #{question.question_text}"
        - question.answers.each do |ans|
          -if ans.answer_group_id == @answer_group.id
            - if question.answer_fields.first.answer_type != "checkbox"
              %h4= "- #{ans.submitted_answer}"
            - else
              - case ans.submitted_answer
              -when "1"
                %h4= "&#10003; #{question.answer_fields.first.text}".html_safe
              -when "0"
                %h4= "&#10007; #{question.answer_fields.first.text}".html_safe
